
# === Zsh & Shell ===
zsh/.zsh_history
zsh/.zcompdump*
starship/cache/

# === Core System & Desktop Configs ===
*rc
kdeglobals
QtProject.conf
dconf/
session/
pulse/
user-dirs.dirs
user-dirs.locale

# === Applications & Browsers ===
zen/
discord/
obs-studio/
google-chrome/
waydroid-helper/
Restore_Firefox/
/home/star/.config/mpv/shaders/cache/

# === Development & Build Artifacts ===
go/
gtk-3.0/
electron-builder.json
