zsh/.zsh_history

zsh/.zcompdump*

zen/

go/

gtk-3.0/

go/

dconf/

session/

discord/

starship/cache

obs-studio/

/home/star/.config/mpv/shaders/cache

pulse/

electron-builder.json

trashrc

arkrc

dolphinrc

kdeglobals
